.login {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.login__title {
  text-align: center;
  font-family: Artifika, sans-serif;
  color: #645B5B;
  font-weight: bold;
  font-size: 14px;
  padding-top: 30px;
}

.login__form {
  color: #645B5B;
  display: flex;
  justify-content: center;
  margin-top: 35px;
  flex-direction: column;
  align-items: center;
  background-color: rgb(196, 196, 196, .43);
  padding: 2.5rem 0;
}

.link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #645B5B;
  font-size: 12px;
  padding-top: 30px;
}

.input-label {
  width: auto;
}

.login__input {
  text-align: center;
  border: none;
  width: 15rem;
  margin-bottom: 15px;
}

.login__header {
  font-weight: bold;
  padding-bottom: 18px;
}

.login__button {
  height: 2rem;
  width: 15rem;
  display: block;
  margin-top: 24px;
}