.login {
  width: 80%;
}

.login__title {
  margin-bottom: 30px;
  text-align: center;
  color: #645b5b;
  font-size: 1rem;
}

.login__form {
  padding: 30px 10px 50px 10px;
  background-color: #c4c4c4;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login__form > label,
.login__form > p {
  margin-bottom: 1.5rem;
}

.login__form > label > input {
  text-align: center;
  padding: 1rem 8px;
  border-radius: 0.5rem;
  border: 0;
}

.link {
  margin-top: 1rem;
  text-decoration: none;
  color: #645b5b;
  font-size: 0.75rem;
}
