.nav__menu {
  position: relative;
  background: #528af5;
  width: 50%;
  height: 100vh;
  right: -50%;
}

.hide {
  display: none;
}

.close-icon {
  position: absolute;
  right: 0.6rem;
  top: 0.6rem;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

.close-icon:before,
.close-icon:after {
  position: absolute;
  right: 0.6rem;
  content: " ";
  height: 1.2rem;
  width: 1px;
  background-color: #fff;
}

.close-icon:before {
  transform: rotate(45deg);
}
.close-icon:after {
  transform: rotate(-45deg);
}

.nav__menu .lists {
  list-style: none;
  padding: 20% 0 0 0;
}

.nav__menu > .lists > li {
  width: 100%;
}

.nav__menu > .lists > li > .list {
  text-decoration: none;
  padding: 4px 10px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  display: block;
  color: #fff;
}
