.error {
  text-align: center;
}

.error__title {
  margin-top: 20%;
  font-size: 2rem;
}

.error__type {
  margin: 20% 0;
  font-size: 4rem;
  font-weight: 300;
  color: #528af5;
}

.error__desc {
  font-size: 1.5rem;
  padding: 10%;
}
