.error {
  text-align: center;
}

.error__title {
  margin-top: 6rem;
  font-size: 2rem;
}

.error__type {
  margin: 6.25rem 0;
  font-size: 4rem;
  font-weight: 300;
  color: #528af5;
}

.error__desc {
  font-size: 1.5rem;
  padding: 0 10%;
}
