.home {
    padding-top: 0rem;
}

.home__img-overlay{
    background: url('../../../assets/home__img.jpg') no-repeat ;
    background-size: cover;
    background-position: center;
    z-index: 1;
    cursor: pointer;
    opacity: 1.8;
    min-height: 45vh;
    width: 100%;
}
.home__box {
    position: relative;
    top: 70px;
    background: #c4c4c4b8;
    padding: 15px 20px;
    color: #666464;
    font-family: Artifika;
}
.home__title {
    left: 0;
    position: relative;
    text-align: center;
    width: 100%;
    padding-bottom: 5px;
    font-size: 1.1rem;
    font-weight: 500;
}
.home__account {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    position: relative;
    
}
.account__login,
.account__signup {
    text-decoration: none;
    cursor: pointer;
}
.account__button{
    padding: 10px 40px;
    pointer-events: none;
    width: 120px;
    justify-content: center;
}
.about , .vision {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.about__title , .vision__title{
    color: #666464;
    font-family: Artifika;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.about__text, .vision__text{
    display: inline-block;
    vertical-align: middle;
    width : 100% ;
    color:#545353;
    font-family: Roboto;
}

.vision__img {
    background-size: cover;
    background-position: center;
    z-index: 1;
    cursor: pointer;
    opacity: 0.75;
    min-height: 45vh;
    width: 100%;
    padding-bottom: 0.5rem;
}



