.input-label{
width: 4.5rem;
height: 2rem;
font-size: 1rem;
line-height: 1.3rem;
display: block;
align-items: center;
color: #645B5B;
font-weight: bold ;
}
.input-type {   
width: 20rem;
height: 2rem;
background: #FFFFFF;
border-radius: 8px;
}
