.button-input{
    background-color: #528AF5; 
    color :#ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    border-radius: 15px;
    /* position: absolute; */
    width: 207px;
    height: 33px;
    /* left: 84px; */
    /* top: 344px; */
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
}
