.card-box {
  background-color: #fff;
  border-radius: 0.9rem;
  max-width: 90%;
  margin: 10px auto;
  height: 6rem;
  display: flex;
}

.card-box__title {
  background-color: #528af5;
  width: 35%;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.card-box__title h5 {
  text-align: center;
  font-size: 14px;
  color: white;
}

.card-box__desc {
  text-align: justify;
  padding: 0.8rem 0.35rem;
  width: 60%;
  font-size: 12px;
}
