.input-label {
  width: 4.5rem;
  height: 2rem;
  font-size: 1rem;
  line-height: 1.3rem;
  display: block;
  align-items: center;
  color: #645b5b;
  font-weight: bold;
  padding: 1.5rem 0.2rem;
}
.input-type {
  width: 20rem;
  height: 2rem;
  background: #ffffff;
  border-radius: 8px;
}
