.input-label {
  width: 4.5rem;
  font-size: 0.7rem;
  line-height: 1.3rem;
  display: block;
  color: #645b5b;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 3px;
}
.input-type {
  width: 20rem;
  height: 2rem;
  background: #ffffff;
  border-radius: 8px;
}
